<!DOCTYPE html>
<head>
  <title>Trello Clone</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/84345c77ec.js" crossorigin="anonymous"></script>
</head>
<html>
<body>
  <!-- NAV BAR -->
  <nav id="navy" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Trello</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li>
          <button type="button" class="btn btn-secondary">
            <i class="fas fa-home"></i>
          </button>
        </li>
        <li>
          <button type="button" class="btn btn-secondary">
            <i class="fas fa-border-all"></i> Boards
          </button>
        </li>
        <li>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
      </ul>

    </div>
    <ul class="navbar-nav mr-auto">
      <li>
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-info"></i>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-bell"></i>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-secondary">
          <i class="fas fa-user"></i>
        </button>      
      </li>
    </ul>
  </nav>

  <div id="app" style="background-color: black; height: 100%;">

    <div class="flex-container" >

      <!-- display boards -->

      <!-- draggable="true"
      v-on:dragstart="drag($event)"
      v-on:dragover="$event.preventDefault()"
      v-on:drop="drop($event)" -->
      <template
        v-for="b in boards">
        <span
          class="reorder"
          v-bind:id="'board-' + b.id"
          draggable="true"
          v-on:dragstart="drag($event)"
          v-on:dragover="$event.preventDefault()"
          v-on:drop="drop($event)"
        >reorder</span>
        <board 
          v-bind:key="b.id"
          v-bind:idprop="b.id"
          v-bind:titleprop="b.title"
          v-bind:cardsprop="b.cards"
          v-bind:uidcounterprop="b.cards.length">
        </board>
      </template>

      <!-- new board section -->
      <!-- toggled card view -->
      <template v-if="toggle">
        <input v-model="newBoard" type="text" placeholder="new board title">
        <button v-on:click="addBoard(newBoard)">Save</button>
        <button v-on:click="toggle = !toggle">Back</button>
      </template>
      <!-- normal view -->
      <template v-else>
        <button v-on:click="toggle = !toggle">Add Board</button>
      </template>

    </div>

  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</html>
