/* .flex-container {
    display: flex;
} */

/* .card {
    border-style: groove;
}

.list {
    padding: 1%;
    border-style: groove;
} */

/* .highlight {
    border-color: #fc0;
}

.reorder {
    border: groove; */
/* } */

/* nav bar padding between icons */
#navy li {
    margin: 0 0 0 10px;
}

/*
.card {
    width: 230px;
} */

table {
    border-collapse: collapse;
}

table {
    border: 1px solid black;
}