/* .flex-container {
    display: flex;
} */

/* .card {
    border-style: groove;
}

.list {
    padding: 1%;
    border-style: groove;
} */

/* .highlight {
    border-color: #fc0;
}

.reorder {
    border: groove; */
/* } */

/* #navy li {
    margin: 0 0 0 10px;
}

.card {
    width: 230px;
} */